{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Página no encontrada</title>
            <link rel="stylesheet" href="{% static '404.css' %}">
        </head>
        <div class="box">
            <h5>404. ERROR</h5>
            <p>La página que desea visitar no existe</p>
            <p></p>
            <a href="/">
                <input class="buttons" type="submit" name="" value="Volver a inicio">
            </a>      
        </div>
    </html>