{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Crear Rol</title>
            <link rel="stylesheet" href="{% static 'rol_crear.css' %}">
            <link rel="shortcut icon" href="{% static 'logo.png' %}">
            <script defer src="{% static 'rol_nombre.js' %}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        </head>
        <body>
            <section class="form-crear_rol">
                <h5>Crear rol</h5>
                <form method="GET" autocomplete="off">
                    <div class ="form-box">
                        <input class="text" type="text" id="nombre_rol" placeholder="Nombre" name="nombre" maxlength="30">
                        <input class="text" type="text" id="desc_rol" placeholder="Descripcion" name="desc" maxlength="50">
                    </div>                
                   
                    <input class="buttons" style="margin-top: 40%;" type="button" onclick="history.go(-1);" name="" value="CANCELAR">
                    <input class="buttons" id = "asig_perm" disabled type="button" name="siguiente" value="SIGUIENTE">
               </form> 
            </section>

    </body>

    <script>
        $(document).ready(function(){
            $("#asig_perm" ).click(function(){
                var nombre = $(document.getElementById("nombre_rol")).val();
                var descripcion = $(document.getElementById("desc_rol")).val();
                
                $.ajax({
                    type: 'GET',
                    url: "/guardar_nombre_rol",
                    traditional: true,
                    data: { 'nombre' : nombre, 'descripcion':descripcion},
                    success:function(data) {
                        window.location.href = "/rol_permisos";
                    },
                    error: function(xhr, status, error) {
                        window.location.reload();
                    }
               });
            });
        });
    </script>
</html>