<!DOCTYPE html>
    <html lang="es"> 
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Sitio en construcción</title>
            <style>
                .cabecera{
                    color: black;
                    height: 600px;
                    line-height: 600px;
                    text-align: center;
                    vertical-align: middle;
                    text-shadow: black 0px 0px 20px;
                    font-family: arial;
                    font-size: xx-large;
                    background-color:gray;
                }
            </style>
            <body class="cabecera">
                SITIO WEB EN CONSTRUCCIÓN
            </body>
        </head>
    </html>