{% load static %}
<!DOCTYPE html>
<html lang="es" style="background-color: gray;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Crear Proyectos</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <style>
        .input_txt2 {
            width: 100%;
            border: 1px solid black;
            margin: 5px;
            padding: 11px;
            background: #a8a4a4;
            font-size: 13px;
            float: left;
        }
    </style>
    <body>
        <section class="form-home" style="height: 250px;">
            <h5>Crea un proyecto</h5>
            <h4>Datos del Proyecto</h4>
            <form id=project_form action="/reg_proyecto" method="GET" autocomplete="off">
                <input class="input_txt2" type="text" name="pro_nombre" value="" placeholder="Ingrese el nombre del proyecto" maxlength="50" required>
    
                <input class="buttons" type="button" style="float: left; margin-top: 10%;" onclick="window.location='/proyects';" name="" value="CANCELAR">
                <input class="buttons" id="bt_registrar" type="submit" style="float: right; margin-top: 10%;" name="" value="REGISTRAR">
            </form>
        </section>
        <script>
            $("#bt_registrar").on('click', function(e){
                e.preventDefault();
                var formulario = $(this).parents('form');
                swal(
                    "¿Desea guardar el proyecto?", 
                    {
                        buttons: true
                    }
                ).then(okay => { 
                    if (okay) {
                        formulario.submit();
                    }else{
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>