{% load static %}
<!DOCTYPE html>
<html lang="es" style="background-color: gray;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Eliminar miembros</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <section class="form-home" style="height: 250px; width: 400px;">
            <h5>Eliminar miembro</h5>
            <form action="/del_miembro" method="GET" autocomplete="off">
                <select id="miembros" class="input_txt" style="width: 100%;" onchange="es_vacio()">
                    <option value="0">Elije una opción</option> 
                    {% for miembro in lista_miembros %}
                    <option value={{ miembro.0 }}>{{ miembro.0 }}</option> 
                    {% endfor %}
                </select>
                <input class="buttons" type="button" style="float: left; margin-top: 18%;" onclick="window.location='/equipo';" name="" value="CANCELAR">
                <input class="buttons" id="bt_eliminar" type="submit" style="float: right; margin-top: 18%;" name="" value="ELIMINAR" disabled>
                <input class="input_txt" type="hidden" name="username" id="miembro">
            </form>
        </section>
        <script>
            function es_vacio(){
                var campo1 = document.getElementById("miembros").value;
                if(campo1 != ""){
                    document.getElementById("bt_eliminar").removeAttribute('disabled');
                }
                else{
                    document.getElementById("bt_eliminar").setAttribute('disabled', 'disabled');
                }
            }

            $(document).on("change","select",function(){
                $("option[value=" + this.value + "]", this)
                .attr("selected", true).siblings()
                .removeAttr("selected");
                var miembros = document.getElementById("miembros")
                var miembro = miembros.options[miembros.selectedIndex].value
                document.getElementById("miembro").value = miembro;
            });

            $("#bt_eliminar").on('click', function(e){
                e.preventDefault();
                var formulario = $(this).parents('form');
                swal(
                    "¿Desea eliminar este usuario?", 
                    {
                        buttons: true
                    }
                ).then(okay => { 
                    if (okay) {
                        formulario.submit();
                    }else{
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>