{% load static %}
<!DOCTYPE html>
<html lang="es" style="background-color: gray;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Modificar proyectos</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <link rel="stylesheet" href="{% static 'check.css' %}">
        <script defer src="{% static 'modificar_proyecto.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <style>
        .input_txt2 {
            width: 100%;
            border: 1px solid black;
            margin: 5px;
            padding: 11px;
            background: #a8a4a4;
            font-size: 13px;
            float: left;
        }
    </style>
    <body>        
        <section class="form-home" style="height: 250px;">
            <h5>Modificar proyecto</h5>
            <h4>Datos del Proyecto</h4>
            <form action="/mod_proyecto" method="GET" autocomplete="off">
                <input class="input_txt2" type="text" name="proy_nombre" value= '{{nombre_proyecto}}' placeholder="Ingrese el nuevo nombre del proyecto" maxlength="30">
                <label><input id="check1" class="check" type="checkbox" name="estado">¿El proyecto ha finalizado?</label><br>

                <input class="buttons" type="button" style="float: left;" onclick="window.location='/proyects';" name="" value="CANCELAR">
                <input class="buttons" id="bt_registrar" disabled=true type="submit" style="float: right;" name="" value="MODIFICAR">
            </form>
        </section>
        <script>
            $("#bt_registrar").on('click', function(e){
                e.preventDefault();
                var formulario = $(this).parents('form');
                var nuevo_nombre_proyecto = document.getElementsByName("proy_nombre")[0].value;
                var proyecto_finalizado = $("#check1").is(":checked");

                var variable = "{{respuesta}}";

                if(variable == "True" && proyecto_finalizado) 
                    swal("No se puede finalizar este proyecto porque existe un sprint activo aún");
                else
                    swal(
                        "¿Desea guardar el proyecto?", 
                        {
                            buttons: true
                        }
                    ).then(okay => {
                        if (okay) {
                            $.ajax({
                                type: 'GET',
                                url: "/mod_proyecto",
                                data: { 
                                    'proy_nombre' : nuevo_nombre_proyecto,
                                    'estado': proyecto_finalizado
                                },
                                success:function(data) {
                                    //window.location.reload();
                                    window.location.href = "/proyects/";
                                },
                                error: function(xhr, status, error) {
                                    swal(
                                        xhr.responseJSON['mensaje']
                                    );
                                }
                            });
                        } else {
                            return false;
                        }
                    });
            });
        </script>
    </body>
</html>