{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Modificar Rol</title>
            <link rel="stylesheet" href="{% static 'rol_crear.css' %}">
            <link rel="shortcut icon" href="{% static 'logo.png' %}">
            <script defer src="{% static 'modificar_rol.js' %}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        </head>
        <body>
            <section class="form-modificar_rol">
                <h5>Modificar rol</h5>
                <form action="/updt_rol" method="GET" autocomplete="off">
                    <select name="rol" id="select" >
                        <option  selected value = 0 class='op' >Elige una opción</option> 
                        {% for rol in lista_roles %}
                            <option value={{ rol.0 }}>{{ rol.1 }}</option> 
                        {% endfor %}             
                    </select>
                    <input class="input_txt" type="text" id="desc_rol" placeholder="Descripción" name="desc" disabled=true maxlength="50">
                    {% for permiso in lista_permisos %}
                        <input type="checkbox" id="check" disabled class = "permisos" value={{ permiso.0 }}> {{ permiso.1 }}
                        <br>
                    {% endfor %}
               
                <input class="buttons" style="margin-top: 5%;" type="button" onclick="window.location='/seguridad';" name="" value="CANCELAR">
                <input class="buttons" id = "guardar" disabled=true type="submit" name="" value="GUARDAR">
                <input class="input_txt" type="hidden" name="rol_selected" id="rol_selected" onclick="habilitar(this.value)">
               </form> 
            </section>

            <script>
                $(document).ready(function(){
                    $("#select").on('change', function(e){
                        $("option[value=" + this.value + "]", this)
                        .attr("selected", true).siblings()
                        .removeAttr("selected");
                        var formulario = $(this).parents('form');
                        var roles = document.getElementById("select");
                        var rol = roles.options[roles.selectedIndex].value;
                        document.getElementById("rol_selected").value = rol;
                        
                       
                        $.ajax({
                            type: 'GET',
                            url: "/obtener_permisos_rol/",
                            data: formulario.serialize(),
                            success:function(data) {
                                
                                p= document.querySelectorAll('#check');

                                document.getElementById("desc_rol").value = null;
                                

                                for (let j = 0; j < p.length; j++) {
                                    $(p).eq(j).prop("checked", false); 
                                }
                                
                                if(data.descripcion) {
                                    document.getElementById("desc_rol").value = data.descripcion;
                                }
  

                                if (data.permisos) {
                                    for (let j = 0; j < p.length; j++) {
                                        for (let i = 0; i < (data.permisos).length; i++) {
                                            if (p[j].value == (data.permisos)[i]) {
                                                $(p).eq(j).prop("checked", true);
                                            }   
                                        }    
                                    }
                                    
                                }
                                
                                document.getElementById("rol_selected").click();
                            },
                            error: function() {
                                window.location.reload();
                            }
                        });
                    });
                });

                $("#guardar").on('click', function(e) {	 
                    var permisos_seleccionados = [];
                    e.preventDefault();
                    var formulario = $(this).parents('form');
                    $("input:checkbox:checked").each(function() {
                        
                        permisos_seleccionados.push($(this).val());
                    });

                    $.ajax({
                        type: 'GET',
                        url: "/guardar_permisos_selected",
                        traditional: true,
                        data: { 'permisos_selected' : permisos_seleccionados},
                        
                        success:function(data) {
                            formulario.submit();
                        },
                        error: function(xhr, status, error) {
                            window.location.reload();
                        }
                    });
                    
                });
            </script>

    </body>
</html>