{% load static %}
<!DOCTYPE html>
<html lang="es" style="background-color: gray;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Modificar US</title>
        <link rel="stylesheet" href="{% static 'cuadro_mensaje.css' %}">
        <link rel="stylesheet" href="{% static 'registrar.css' %}">
        <link rel="shortcut icon" href="{% static 'logo.png' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <style>
        .input_txt2 {
            width: 100%;
            border: 1px solid black;
            margin: 5px;
            padding: 11px;
            background: #a8a4a4;
            font-size: 13px;
            float: left;
        }
    </style>
    <body>        
        <section class="form-home" style="height: 300px;">
            <h5>Modificar US</h5><br>
            <h4>Nombre Proyecto: {{proy}}</h4>
            <form action="/mod_us" method="GET" autocomplete="off">           
                <input id ="id" class="input_txt2" type="text" name="nombre" value= '{{nombre_us}}' placeholder="Ingrese el nuevo nombre del US" maxlength="30"required>
                <input class="input_txt2" type="text" name="descripcion" value= '{{descripcion_us}}' placeholder="Ingrese la descripcion del US" maxlength="60">
                <input class="buttons" type="button" style="float: left;" onclick="window.location='/backlog';" name="" value="CANCELAR">
                <input class="buttons" id="bt_registrar" type="submit" style="float: right;" name="" value="MODIFICAR" >                
            </form>
        </section>
    </body>
</html>