{% load static %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Seguridad</title>
            <link rel="stylesheet" href="{% static 'home.css' %}">
            <link rel="stylesheet" href="{% static 'seg.css' %}">
            <link rel="shortcut icon" href="{% static 'logo.png' %}">
            <style>
                div {
                    background-color: white; 
                    border-radius: 15px;
                    width: 100%;
                    height: 40px;
                    /*margin-left: 10%;
                    margin-top: 50%;*/
                    text-align: center;
                    margin-top: 0%;
                }

                div :hover{
                    background-color: #4e4d4d; 
                }
            </style>
        </head>

        <section class="form-home" style="width: 500px; height: 565px; margin-top: 3%;">
            <h5>MODULO SEGURIDAD</h5>
            <nav class = "menuPrincipal">
                <ul>
                    <div>
                        <li><a href="#">Administrar Usuarios</a>
                            <ul>
                                <li><a href="/signup/">Crear</a></li>
                                <li><a href="/user_settings">Modificar</a></li>
                                <li><a href="/delete_user">Eliminar</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
                <br><br><br><br><br>
                <ul>
                    <div>
                        <li><a href="#">Administrar Roles</a>
                            <ul>
                                <li><a href="/rol_nombre">Crear</a></li>
                                <li><a href="/modificar_rol">Modificar</a></li>
                                <li><a href="/delete_rol">Eliminar</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
                <br><br><br><br><br>
                <ul>
                    <div>
                        <li><a href="#">Administrar Permisos</a>
                            <ul>
                                <li><a href="/crear_permiso">Crear</a></li>
                                <li><a href="/modificar_permiso">Modificar</a></li>
                                <li><a href="/eliminar_permiso">Eliminar</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
                <br><br><br><br><br>
            </nav>
            <input class="buttons" type="button" value="Volver al menú principal" onclick="window.location='/home';">
        </section>
</html>