* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: gray;
}

body {
    font-family: arial;
}

.form-crear_rol {
    width: 500px;
    height: 450px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 10px solid purple;
    color: white;
}

.form-modificar_rol {
    width: 500px;
    height: 450px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 10px solid purple;
    color: white;
}

.form-delete_rol {
    width: 500px;
    height: 450px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 10px solid purple;
    color: white;
}

.form-delete_rol select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

 
.form-delete_rol select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	height: 42px;
	background: #a8a4a4;
	font-size: 1em;
	color: rgb(8, 8, 8);
	font-family: 
	'Arial';
    position: relative;
    transition: all 0.25s ease;
    margin-bottom: 14%;
}


.form-crear_rol h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-modificar_rol h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-modificar_rol select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

 
.form-modificar_rol select{
    margin-bottom: 5%;
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	height: 42px;
	background: #a8a4a4;
	font-size: 1em;
	color: rgb(8, 8, 8);
	font-family: 
	'Arial';
    position: relative;
    transition: all 0.25s ease;
}

.form-delete_rol h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}


.controls {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #a8a4a4;
    font-size: 14px;
    font-weight: bold;
}


input[type="text"]{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #a8a4a4;
    font-size: 14px;
    font-weight: bold;
}


.buttons{
    width: 45.5%;
    height: 30px;
    margin-top: 18%;
    background: #e1e1e1;
    border: none;
    color: black;
    border-radius: 15px;
    margin-left: 2.5%;
}

.buttons:hover{
    background-color: #a8a4a4;
}

input[type="submit"]:disabled {
    margin-top: 14%;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    width: 45.5%;
    height: 30px;
    border-radius: 15px;
    margin-right: 2%;
}

input[type="button"]:disabled {
    margin-top: 14%;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    width: 45.5%;
    height: 30px;
    border-radius: 15px;
    margin-right: 2%;
}

input[type="checkbox"] {
    margin-top: 1%;
}


.form-crear_rol p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-crear_rol a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-crear_rol a:hover {
    text-decoration:rgb(168, 8, 155)
}

br{
    content: "";
    margin: 2em;
    display: block;
    margin-bottom: -20px;
 }